.bg-purple {
  background-color: rgba(85, 63, 122, 1);
}

.bg-middle-purple {
  background-color: rgba(115, 93, 152, 1);
}

.bg-light-purple {
  background-color: rgba(225, 225, 255, 1);
}

.bg-white-purple {
  background-color: rgba(248, 248, 255, 1);
}

.text-purple {
  color: rgba(85, 63, 122, 1);
}

.text-middle-purple {
  color: rgba(115, 93, 152, 1);
}
.text-secondary-purple {
  color: rgba(160, 148, 197, 1);
}

.border-middle-purple {
  border-color: rgba(115, 93, 152, 1);
}

.hover-middle-purple:hover {
  color: rgba(115, 93, 152, 1);
}
