html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 90px; /* フッタを含む下側マージンの高さ */
}

.header {
  margin-bottom: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* フッタの固定高さを設定 */
  line-height: 60px; /* テキストを垂直に中央に配置 */
  text-align: center;
}
